.navi img:first-of-type {
    padding-right: 2vh;
    width: 5vh;
    border-radius: 1vh;
    -webkit-border-radius: 1vh;
    -moz-border-radius: 1vh;
    -ms-border-radius: 1vh;
    -o-border-radius: 1vh;
}
.navi ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3vh;
    font-size: 2.5vh;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.navi ul li {
    list-style-type: none;
}
.navi ul li a {
    text-decoration: none;
    color: black;
    transition: transform 0.1s ease;
    -webkit-transition: transform 0.1s ease;
    -moz-transition: transform 0.1s ease;
    -ms-transition: transform 0.1s ease;
    -o-transition: transform 0.1s ease;
}
.navi ul li:hover{
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}
.navi ul li:first-of-type {
    display: flex;
    align-items: center;
    cursor: none;
}

.navi ul li:last-of-type {
    display: flex;
    align-items: center;
    cursor: none;
}
@media (max-width: 768px){
.navi{
        display:none;
    }
}