.background {
    position: absolute;
    width: 100%;
    object-fit: fill;
    height: 100vh;
    top: 10vh;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;

}
h1{
    margin-top: 10vh;
    font-size: 5vh;
    color:white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
.my-link {
    text-decoration: none;
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
}

.section {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 10vh;

}

@media (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
    }
    h1{
        margin-top: 15vh;
        margin-left: 5vh;
    }
}